BankingSystem/Connected Services/Service/ExecutorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banking.Domain.DepositManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banking.Domain.DepositManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" />
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Banking.Shared" />
  <xs:complexType name="ArrayOfDeposit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deposit" nillable="true" type="tns:Deposit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeposit" nillable="true" type="tns:ArrayOfDeposit" />
  <xs:complexType name="Deposit">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Banking.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
          <xs:element minOccurs="0" name="MonthlyPay" type="xs:decimal" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" minOccurs="0" name="User" nillable="true" type="q2:User" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Deposit" nillable="true" type="tns:Deposit" />
</xs:schema>