BankingSystem/Connected Services/Service/ExecutorService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banking.Application.Command.DepositCommands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banking.Application.Command.DepositCommands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateDepositCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyPay" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateDepositCommand" nillable="true" type="tns:CreateDepositCommand" />
</xs:schema>