BankingSystem/Connected Services/Service/ExecutorService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banking.Application.Command.UserCommands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banking.Application.Command.UserCommands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUserCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserCommand" nillable="true" type="tns:LoginUserCommand" />
  <xs:complexType name="RegisterUserCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserCommand" nillable="true" type="tns:RegisterUserCommand" />
  <xs:complexType name="UpdateUserCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUserCommand" nillable="true" type="tns:UpdateUserCommand" />
  <xs:complexType name="DeleteUserCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteUserCommand" nillable="true" type="tns:DeleteUserCommand" />
</xs:schema>