BankingSystem/Connected Services/Service/ExecutorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banking.Domain.LoanManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banking.Domain.LoanManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" />
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Banking.Shared" />
  <xs:complexType name="ArrayOfLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan" nillable="true" type="tns:ArrayOfLoan" />
  <xs:complexType name="Loan">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Banking.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="FinishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Guarantor" nillable="true" type="tns:Guarantor" />
          <xs:element minOccurs="0" name="GuarantorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MonthlyPay" type="xs:decimal" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" minOccurs="0" name="User" nillable="true" type="q2:User" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
  <xs:complexType name="Guarantor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Banking.Shared" base="q3:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Relationship" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Guarantor" nillable="true" type="tns:Guarantor" />
</xs:schema>