BankingSystem/Connected Services/Service/ExecutorService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banking.Domain.RoleManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banking.Domain.RoleManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" />
  <xs:import schemaLocation="http://localhost:55727/ExecutorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Banking.Shared" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Banking.Shared" base="q1:AggregateRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Banking.Domain.UserManagement" minOccurs="0" name="Users" nillable="true" type="q2:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>